@import url(reset.css);

/*common*/
body{
    font-family: Dotum,"돋움",sans-serif;
    font-size:12px;
}
a{
    color:#333;
    text-decoration:none;
}
a:hover,a:focus,a:active{
    
}

/*layout*/
#wrap{
    width:100%; height:100%; margin:0 auto;
    background-color: slategray; position:relative; overflow:hidden;    
}
#header{
    position:relative; width:200px; height:100%; z-index:20;
    background-color:white; box-shadow:2px 0 3px rgba(50,50,50,0.2);
}
#container{
   background-color: white; z-index:0;
    width:981px; height:924px; 
    margin-left:200px; padding:50px;
    position:absolute; top:0; 
}
#footer{
    position:absolute; bottom:0;
    width:200px; height:320px; box-sizing:border-box;
}

/*container*/
#container h2{
    float: left;
    margin-bottom: 80px;
    
}
#container p{
    float:right;
}
#container table{
    clear: both; 
    width:100% ;
    text-align:center;
}

/*table*/
#container .bg{
    width:100%;
    background:url("../images/boardBor_bg.gif") no-repeat 0 138px; 
}
#container table tr{
    height:40px;
    border-bottom:1px solid lightgray;   
}
#container table th{
    height:40px; padding-top:5px;
    background-color:aliceblue;
    text-align:center;
}
#container table td.leftT{
    text-align:left;
}
#container table td.leftT span{
    color:orangered; font-weight: bold; cursor:pointer;
}

#container .pageN{
    background-color: royalblue;
    color:white;
    width:30px; height:30px;
    margin:30px 360px;/*what if there's more pageg how come i make in in canter position?*/
}
#container form{
    width:465px; height:38px;
    background: url(../images/boradSearD_bg.gif) no-repeat 0 0;
    padding:20px 300px;
}
#container select{
    width:90px; height:30px; transform:translatey(2px); border:none;
}
#container input{
    width:300px; height:30px;
    vertical-align:bottom;
}
#container .src{
    display:inline-block; width:60px; height:30px;
    background-color:#333; line-height:2.5; text-align: center;
    color:white;
}
/*사이드메뉴*/
.sideM{
    position:absolute; top:5px; left:1300px;
}
.sideM ul li{
    margin:10px; float:left; 
}

